{
    "environment": "tcpcloud-poc",
    "project_name": "{{cookiecutter.environment}}-reclass-salt-model",
    "domain_name": "cloud.company.com",
    "admin_email": "root@localhost",
    "openstack_version": "liberty",
    "horizon_version": "liberty",
    "horizon_theme_name": "FIXME [ubuntu|CompanySkinName]",
    "horizon_bind_address": "127.0.0.1",
    "horizon_bind_port": "8078",
    "cluster_public_host": "cloud.company.com",
    "ssl_endpoint": false,
    "ssl_enabled": false,
    "ssl_key": "",
    "ssl_cert": "",
    "ssl_chain": "",
    "opencontrail_version": "2.2",
    "opencontrail_dns": "8.8.8.8",
    "opencontrail_analytics_cluster": true,
    "metering_cluster": true,
    "ceilometer_cluster": true,
    "sensu_mail_handler": false,
    "sensu_instance": "FIXME [CompanyName]",
    "apt_repository": "http://apt.tcpcloud.eu",
    "openstack_endpoint": "",
    "apt_branch": "nightly",

    "network_underlay_dns1": "8.8.8.8",
    "network_underlay_dns2": "8.8.4.4",
    "network_underlay_gw": "FIXME",
    "network_underlay_mask": "255.255.255.0",

    "bil01_name": "bil01",
    "bmk01_name": "bmk01",
    "cfg01_name": "cfg01",
    "cmp01_name": "cmp01",
    "cmp02_name": "cmp02",
    "cmp03_name": "cmp03",
    "ctl01_name": "ctl01",
    "ctl02_name": "ctl02",
    "ctl03_name": "ctl03",
    "dbs01_name": "dbs01",
    "dbs02_name": "dbs02",
    "dbs03_name": "dbs03",
    "kvm01_name": "kvm01",
    "kvm02_name": "kvm02",
    "kvm03_name": "kvm03",
    "log01_name": "log01",
    "mdb01_name": "mdb01",
    "mdb02_name": "mdb02",
    "mdb03_name": "mdb03",
    "mgm01_name": "mgm01",
    "mon01_name": "mon01",
    "mtr01_name": "mtr01",
    "mtr02_name": "mtr02",
    "nal01_name": "nal01",
    "nal02_name": "nal02",
    "nal03_name": "nal03",
    "ntw01_name": "ntw01",
    "ntw02_name": "ntw02",
    "ntw03_name": "ntw03",
    "prx01_name": "prx01",
    "prx02_name": "prx02",
    "bil01_ip": "",
    "bmk01_ip": "",
    "cfg01_ip": "",
    "cmp01_ip": "",
    "cmp02_ip": "",
    "cmp03_ip": "",
    "cmp_gw": "",
    "cmp_iface": "eth0",
    "ctl01_ip": "",
    "ctl02_ip": "",
    "ctl03_ip": "",
    "ctl_vip": "",
    "dbs01_ip": "",
    "dbs02_ip": "",
    "dbs03_ip": "",
    "dbs_vip": "",
    "kvm01_ip": "",
    "kvm02_ip": "",
    "kvm03_ip": "",
    "log01_ip": "",
    "mdb01_ip": "",
    "mdb02_ip": "",
    "mdb03_ip": "",
    "mdb_vip": "",
    "mgm01_ip": "",
    "mon01_ip": "",
    "mtr01_ip": "",
    "mtr02_ip": "",
    "mtr_vip": "",
    "nal01_ip": "",
    "nal02_ip": "",
    "nal03_ip": "",
    "nal_vip": "",
    "ntw01_ip": "",
    "ntw02_ip": "",
    "ntw03_ip": "",
    "ntw_vip": "",
    "prx01_ip": "",
    "prx02_ip": "",
    "prx_vip": ""
}
